/*
---------------------------------------------
Índice
------------------------------------------------
1. Typography
2. Main Nav
3. Home
4. About
5. Work
6. Single Work
7. Pricing
8. Contact
--------------------------------------------- */

html {font-family: 'Saira', sans-serif;}
/* Typography */
p, a {font-weight: 400;}
.h2 {font-size: 40px;}
.h3 {font-size: 28px;}
.light-300 {
  font-family: 'Saira', sans-serif !important;
  font-weight: 300;
}
.regular-400 {
  font-family: 'Saira', sans-serif !important;
  font-weight: 400;
  font-size: 120;
}
.semi-bold-600 {
  font-family: 'Saira', sans-serif !important;
  font-weight: 600;
  color:#015348 !important;

}
.typo-space-line::after,
.typo-space-line-center::after {
  content: "";
  width: 150px;
  display:block;
  position: absolute;
  border-bottom:  5px solid #028372; /*Linea debajo de hacemos*/
  padding-top: .5em;
}
.typo-space-line-center::after {
  left: 50%;
  margin-left: -75px;
}
/* Main Nav */
#main_nav .nav-item .nav-link:hover {color: #fff;} /* color del texto rollover botones menu*/
/* Home */
#index_banner {
  background-image: url('./../img/banner-bg-01.jpg'); /*banner foto*/
  background-position: center center; background-size: cover;
  height: 100%;
  min-height: 60vh;
  width: 100%;
}
#index_banner .carousel-item {
  min-height: 60vh;
}
#index_banner .carousel-control-prev i,
#index_banner .carousel-control-next i {
  color: #028372 !important; /* flechita que pasa el carrusel */
  text-decoration: none;
  font-size: 4em;
}
#index_banner .carousel-inner {
  height: 80vh;
}
#index_banner .carousel-indicators li,
#index_banner .carousel-indicators.active {
  background-color: #028372 !important; /*3 rayas de color para pasar*/
}
.service-wrapper .service-footer {
  max-width: 720px;
}
.service-work.card {
  border-radius: 10px !important;
  cursor: pointer;
}
.service-work .service-work-vertical {
	background: rgb(0,0,0);
  background: linear-gradient(0deg, rgb(0, 68, 99) 0%, rgba(0,0,0,0) 33.33%, rgba(255,255,255,1) 66.66%, rgba(255, 255, 255, 0) 99.99%); /*gradiente de cuadraditos secciones*/ 
  background-size: 300% 300%;
  background-position: 0% 100%;
  transition: .5s;
}
.service-work .service-work-vertical:hover {
  background-position: 0% 0%;
  transition: .5s;
}
.service-work .service-work-vertical:hover * { /* color del texto de las cajas de secciones con gradientes*/
  color: #000; 
  border-color: #000;
  transition: .5s;
}
.recent-work.card{
  border-radius: 10px !important;
}
.recent-work .recent-work-vertical {
	background: rgb(255,255,255);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 33.333%, rgb(0, 68, 99) 66.666%, rgba(255,255,255,0) 99.999%); /*gradiente de trabajos recientes */
  background-size: 300% 300%;
  background-position: 0% 100%;
  transition: .5s;
  cursor: pointer;
}
.recent-work .recent-work-vertical:hover {
  background-position: 0% 0%;
  transition: .5s;
}
.recent-work .recent-work-vertical:hover div.recent-work-content {
  top: 50%;
  margin-top: -2.5em;
  position: absolute;
}
.recent-work .recent-work-vertical:hover * {
  color: white; /*color del texto de cajas trabajos recientes*/
  transition: .5s;
}
/* About */
#work_banner {
  background-image: url('./../img/banner-bg-03.jpg');
  background-position: center center; background-size: cover;
  height: 100%;
  width: 100%;
}
.progress {
  height: 8px;
}
.objective-icon {
  border-radius: 13px;
  width: 8rem;
}
.partner-wap {
  background-color: #2a8996; /*nuestros clientes cajitas*/
  transition: 1s;
  cursor: pointer;
}
.partner-wap:hover {
  background-color: #005763; /*color al pasar el puntero cajitas*/
}
.why-us {
  background: rgb(239,239,253);
  background: -moz-linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
  background: -webkit-linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
  background: linear-gradient(0deg, rgba(239,239,253,1) 50%, rgba(255,255,255,1) 50%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#efeffd",endColorstr="#ffffff",GradientType=1);
}
.team-member-img {
  transition-duration: 0.15s;
}
.team-member:hover .team-member-img {
  padding: 10px !important;
}

/* Work */
/* Singel Work */
#work_single_banner {
  background-image: url('./../img/banner-bg-02.jpg');
  background-position: center center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.related-content {
  border-radius: 20px;
  cursor: pointer;
}
/* Pricing */
.pricing-list {
  margin-bottom: 1px;
}
.pricing-table {
  max-width: 350px;
  margin: auto;
}
.pricing-table,
.pricing-horizontal {
  border-radius: 15px !important;
}
/* Contact */
#floatingtextarea {
  height: 150px
}
/* Footer */
footer a.text-light:hover {
  color: #bfbfbf !important;
  transition-duration: 0.15s;
  
}

.bg-secondary {
  background-color: #015348!important; /*color principal footer*/
}
.bg-primary {
  background-color: #028372!important;/*color secundario mas claro*/
}
.btn-primary { /*boton de navegacion*/
  color: #f6f9fe;
  background-color: #028372;
  border-color: #028372;
}


.btn-outline-primary {
  color: #015348;
  border-color: #037e6d;
  
}
/*botones*/
.btn-check:active+.btn-outline-primary, .btn-check:checked+.btn-outline-primary, .btn-outline-primary.active, .btn-outline-primary.dropdown-toggle.show, .btn-outline-primary:active, .btn-outline-primary:hover, .btn-outline-primar {
  color: #f6f9fe;
  background-color: #028372;
  border-color: #028372;
}

.text-dark {
  color: #015348!important;
}
.text-primary {
  color: #028372!important;
}
.text-secondary {
  color: #028372!important; /*texto carrusel index*/
}
.text-muted {
  color: #028372!important; /*texto secundario del carrusel*/
}
a:hover {
  color: #028378; /*vinculos pasar puntero*/
}
.navbar-light .navbar-nav .nav-link {
  color: #028372;
}
/*sombras de las cajas de secciones*/
.shadow-sm{-webkit-box-shadow:0 .125rem .25rem rgba(141, 10, 153, 0.075)!important;box-shadow:0 .125rem .25rem rgba(0,0,0,.075)!important}
.shadow-lg{-webkit-box-shadow:0 1rem 3rem rgba(0,0,0,.175)!important;box-shadow:0 1rem 3rem rgba(0,0,0,.175)!important}


.border-color
{
  color: #028372;
}